.confirmed {
  /* background-color: #28c76f; */
  color: #fff;
  display: flex;
  align-items: center;
}

ir-select#update-status {
  transform: translateY(0.5rem);
}

.pointer {
  cursor: pointer;
}

:root {
  --sidebar-width: 50rem;
}

.sm-padding-right {
  padding-right: 0.2rem;
}
.sm-padding-left {
  padding-left: 0.2rem;
}
.sm-padding-top {
  padding-top: 0.2rem;
}
.sm-padding-bottom {
  padding-bottom: 0.2rem;
}

.info-notes {
  list-style: none;
  padding-left: 0;
}
.light-blue-bg {
  background-color: #acecff;
  padding: 0rem 0.1rem;
}
.iframeHeight {
  height: 17.5rem;
}
