.backdropModal {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}
.backdropModal.active {
  cursor: pointer;
  opacity: 1 !important;
  pointer-events: all;
}
.modal {
  z-index: 1001 !important;
}

.modal-dialog {
  height: 100vh;
  display: flex;
  align-items: center;
}

.ir-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  opacity: 0;
  transform: translateY(-20%); /* change from translate(20%, -20%) for a vertical slide effect */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  visibility: hidden; /* Add this line to ensure modal is hidden */
  pointer-events: none; /* Avoid blocking other elements when modal is hidden */
}

.ir-modal.active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible; /* Make modal visible */
  pointer-events: all; /* Restore pointer events */
  transition: all 0.3s ease-in-out;
}
