.bg-ir-green {
  background-color: var(--ir-green);
}
.bg-ir-orange {
  background-color: var(--ir-orange);
}
.bg-ir-red {
  background-color: var(--ir-red);
}
.bg-ir-dark-blue {
  background-color: var(--ir-dark-blue);
}
.bg-ir-dark-blue-2 {
  background-color: var(--ir-dark-blue-2);
}

.color-ir-green {
  color: var(--ir-green);
}
.color-ir-orange {
  color: var(--ir-orange);
}
.color-ir-red {
  color: var(--ir-red);
}
.color-ir-dark-blue {
  color: var(--ir-dark-blue);
}
.color-ir-dark-blue-2 {
  color: var(--ir-dark-blue-2);
}

.color-ir-dark-blue-hover {
  color: var(--ir-dark-blue);
  transition: color 0.2s ease-in-out;
}
.color-ir-dark-blue-hover:hover {
  color: var(--ir-dark-blue-2);
}
